label {
  float: left;
  width: 150px;
}

#container {
  width: 700px;
  margin: auto;
  background-color: beige;
}

main {
  padding: 50px;
}

/* Error message styling */
.error {
  color: red;
  font-size: 12px;
  margin-left: 10px;
}

#street2Counter {
  font-size: 12px;
  color: gray;
  margin-left: 150px;
}